<div *ngIf="!peli; else divPeli" class="alert alert-info">
	Obteniendo película
</div>

<ng-template #divPeli>
	<div class="row">
		<div class="col-12">
			<h1> {{ peli.title }} </h1>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-4">
			<h3> Póster </h3>
			<img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{ peli.poster_path }}">
		</div>

		<div class="col">
			<div class="row"> 
				<h3 class="mt-4 mt-sm-0" > Descripción </h3>
				<p> {{ peli.overview }} </p>
			</div>	
			<div class="row"> 
				<h3> Fecha de Estreno </h3>
				<p> {{ peli.release_date }} </p>
			</div>
			<div class="row mb-4"> 
				<h3> Idiomas hablados </h3>
				<li *ngFor="let idioma of peli.spoken_languages"> {{ idioma.english_name }} </li>
			</div>
		</div>	
	</div>
</ng-template>
